.keyword {
    -fx-fill: rgb(255,86,0);
}
.operator {
    -fx-fill : rgb(255,86,0);
}
.semicolon {
    -fx-fill : rgb(255,86,0);
}
.string {
    -fx-fill: green;
}
.comment {
	-fx-fill: rgb(145,165,201);
}
.paren {
    -fx-fill: rgb(255,86,0);
}
.bracket {
    -fx-fill: rgb(255,86,0);
}
.brace {
    -fx-fill: rgb(255,86,0);
}
.null {
}
.paragraph-box {
    -fx-font-family:"Consolas";
    -fx-font-size:21px;
}